<a href="https://colab.research.google.com/github/dawads/bibliometri/blob/master/network_data_from_diva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
url=(
  'http://liu.diva-portal.org/smash/export.jsf?'+
  'format=csvall2&addFilename=true&aq=[[]]'+
  '&aqe=[]'+
  '&aq2=[[{"organisationId":"276","organisationId-Xtra":true},{"publicationTypeCode":["review","article"]},{"publicationStatus":"published"},{"contentTypeCode":["refereed"]}]]'+
  '&onlyFullText=false'+
  '&noOfRows=500'+
  '&sortOrder=title_sort_asc'+
  '&sortOrder2=title_sort_asc'
)
divaData=pd.read_csv(url)

In [18]:
headers=list(divaData.columns.values)
#print(headers)

divaDataTwo=divaData[['PID','Categories']]
divaDataTwo['Categories']=divaData['Categories'].str.split(';',-1,False)
#print(divaDataTwo)

subjects=divaDataTwo.set_index(['PID'])['Categories'].apply(pd.Series).stack()

subjects=subjects.reset_index()
#print(subjects)
subjects.columns=['PID','Order','Categories']
subjects['N'] = subjects.index
subjects.head()

#test=subjects.unique()
#print(allSubjects)
#test=allSubjects.unique()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

       PID  Order                                    Categories  N
0   266537      0                    Teknik och teknologier (2)  0
1   242842      0                    Teknik och teknologier (2)  1
2   634428      0  Acceleratorfysik och instrumentering (10306)  2
3   634430      0  Acceleratorfysik och instrumentering (10306)  3
4  1236429      0                  Annan materialteknik (20599)  4

In [0]:
nodes = subjects.groupby('Categories').agg({'Categories': np.size})
nodes.head()
#vill inte mata ut kvadratroten
#hur fÃ¥r jag aggregaten att bli egna namngivna kolumner?
nodes['Weight'] = nodes['Categories']
nodes['Size'] = nodes['Categories'].apply(np.sqrt)
nodes = nodes[['Weight', 'Size']].reset_index()

nodes AS ( SELECT row_number() OVER (ORDER BY Categories) AS id, Categories AS label, count() AS p FROM subjects GROUP BY Categories HAVING count() > 0 ),

In [0]:
#subjects.groupby('Categories').size()
#Vill inte funka...

In [0]:
(nodes.assign(row_id=subjects.sort_values(['Categories'], ascending=False)
              .rank(method='first', ascending=False))
              #.cumcount() + 1)
)

ValueError: ignored

https://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html